if ARCH_MEDIATEK

config SYS_SOC
	default "mediatek"

config SYS_VENDOR
	default "mediatek"

choice
	prompt "MediaTek board select"

config TARGET_MT7623
	bool "MediaTek MT7623 SoC"
	select CPU_V7A
	select ARCH_MISC_INIT
	help
	  The MediaTek MT7623 is a ARM-based SoC with a quad-core Cortex-A7
	  including NEON and GPU, Mali-450 graphics, several DDR3 options,
	  crypto engine, built-in Wi-Fi / Bluetooth combo chip, JPEG decoder,
	  video interfaces supporting HDMI and MIPI, and video codec support.
	  Peripherals include Gigabit Ethernet, switch, USB3.0 and OTG, PCIe,
	  I2S, PCM, S/PDIF, UART, SPI, I2C, IR TX/RX, and PWM.

config TARGET_MT7629
	bool "MediaTek MT7629 SoC"
	select CPU_V7A
	select SPL
	select ARCH_MISC_INIT
	help
	  The MediaTek MT7629 is a ARM-based SoC with a dual-core Cortex-A7
	  including DDR3, crypto engine, 3x3 11n/ac Wi-Fi, Gigabit Ethernet,
	  switch, USB3.0, PCIe, UART, SPI, I2C and PWM.

config TARGET_MT5888
	bool "MediaTek MT5888 SoC"
	select CPU_V7A
	help
	  The MediaTek M7322 is a ARM-based SoC

config TARGET_MT5896
	bool "MediaTek MT5896 SoC"
	select CPU_V7A
	help
	  The MediaTek MT5896 is a ARM-based SoC

endchoice

config MULTICORES_PLATFORM
	bool "Multi core architecture"
	depends on ARM64
	default n
	help
	  Enable multi core architecture on u-boot. It changes command base mode
	  to task thread mode.

config SMP_BOOT_TIMEOUT_RESET
	bool "SMP boot timeout reset"
	depends on MULTICORES_PLATFORM
	default n
	help
	  Select this option will enable smp timeout reset when bootup.

source "board/mediatek/mt7623/Kconfig"
source "board/mediatek/mt7629/Kconfig"
source "board/mediatek/mt5888/Kconfig"

endif
